/**
 * This is the source code of Cherrygram for Android.
 * It is licensed under GNU GPL v. 2 or later.
 * You should have received a copy of the license in this archive (see LICENSE).
 * Please, be respectful and credit the original author if you use this code.
 *
 * Copyright github.com/arsLan4k1390, 2022-2026.
 */

package uz.unnarsx.cherrygram

import android.app.Activity
import org.telegram.ui.ActionBar.BaseFragment

object Extra {
    // https://core.telegram.org/api/obtaining_api_id
    const val APP_ID = 12345678
    const val APP_HASH = "abcdefg"

    // https://developers.google.com/identity/sms-retriever/verify#computing_your_apps_hash_string
    const val SMS_HASH = ""

    fun getRegistrationDate(fragment: BaseFragment, parentActivity: Activity, userId: Long) {

    }

    fun addBirthdayToCalendar(parentActivity: Activity, userId: Long) {

    }

}