.idea/
.gradle/
.cxx/
afat/
build/
obj/
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/Extra.java
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/Extra.kt
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/helpers/UserInfoHelper.java
/TMessagesProj/src/main/java/org/telegram/tgnet/AccountInstanceNew.kt
/TMessagesProj/src/main/java/org/telegram/tgnet/ConnectionsManagerImpl.kt
/TMessagesProj/src/main/java/org/telegram/tgnet/ConnectionManagerDelegate.java
/TMessagesProj/src/main/java/org/telegram/tgnet/ResultCallbackDatastore.kt
*.iml
local.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
Keytool.zip
Cherrygram.jks
mykey.jks
actions-runner
