.idea/
.gradle/
.cxx/
afat/
build/
obj/
/TMessagesProj/jni/security/
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/chats/MessageMenuHelper.java
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/chats/WindowBlurHelper.java
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/chats/helpers/MessagesFilterHelper.kt
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/Extra.java
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/Extra.kt
/TMessagesProj/src/main/java/uz/unnarsx/cherrygram/helpers/UserHelper.java
/TMessagesProj/src/main/java/org/telegram/messenger/AutoBackupUserAgent.kt
/TMessagesProj/src/main/java/org/telegram/messenger/KotlinFragmentsManager.kt
/TMessagesProj/src/main/java/org/telegram/messenger/SamsungDatastore.kt
/TMessagesProj/src/main/java/org/telegram/tgnet/ConnectionManagerDelegate.java
*.iml
local.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
Keytool.zip
Cherrygram.jks
mykey.jks
actions-runner
secrets_for_ci.env
