<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" tools:node="remove" />
<!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:node="remove" />-->

    <application android:name="org.telegram.messenger.ApplicationLoaderImpl" tools:replace="name">
        <service android:name="org.telegram.messenger.GoogleVoiceClientService" android:exported="true"/>
        <activity
            android:name="org.telegram.messenger.GoogleVoiceClientActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.voicesearch.SEND_MESSAGE_TO_CONTACTS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon" tools:node="remove" />
        <meta-data android:name="com.google.android.gms.car.application" tools:node="remove" />
    </application>

</manifest>